<div class="col-lg-10 col-lg-offset-1 white">
  <h2>Welcome</h2>
  <p>Logging in with your google account will allow you to preview the edit features.
    However, you will not be able to save any changes. Contact Jacob if you would
    like to be able to edit content.</p>
  <button ng-click='vm.useGoogle()' class="btn">Login</button>
  <button ng-click='vm.setup()' class="btn">Add a Class</button>
  <!-- <p><button ng-click="vm.canEdit()">Can I Edit?</button> {{vm.canSubmit}}</p> -->

  <!-- <form>
    <input type="email" name="Username" placeholder="Enter Email" ng-model="uname"/>
    <input type="password" name="Password" placeholder="Enter Password" ng-model="pword"/>
    <input type="submit" name="Submit" ng-click="vm.useEmail(uname, pword)"/>
    <button type="New User"  name="New User" ng-click="vm.toggleNew = !vm.toggleNew">New User</button>
    <input type="password" ng-show="vm.toggleNew" placeholder="Verify Password" name="Verify Password" ng-model="pword2"/>
  </form>

  <button ng-click="vm.useEmail(uname, pword)">Use Email</button> -->
  <!-- <button ng-click="vm.useGoogle()">Use Google</button> -->
  <!-- <button ng-click="vm.useFacebook()">Use Facebook</button>
  <button ng-click="alert(auth.uid)">My ID</button> -->
</div>
